html, body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0 auto;
}

#header{
	background-image: url("bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 1100px;
	position-center: relative;
	top: 68px;
	width: 100%;
	z-index: 10000;
}

.navigation {
	background-color: rgba(255, 255, 255, 0.7);
  overflow-y: 0 auto;
  position: fixed;
  left: 0px;
  top: 0px;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

.head {
	background-color: rgba(255, 255, 255, 0.7);
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	left: 0;
	padding:30px 0px;
}

ul{
  margin: 0 auto;
  text-align: center;
}	

li {
	display: inline-block;
	font-size: 16px;
	font-weight: 200;
	margin: 10px 10px;
	text-transform: uppercase;
}

/* pages link */
a:link {
    color: #000000;
}

/* visted link */
a:visited {
    color: #000000;
}

/* selected link */
a:active {
    color: green;	
}

/* home page link*/
#sym {
  color: #FFFF;
  font-size: 32px;
  padding: 0px 0px;
}

.tplayer {
  margin: 0 auto;
  position: relative;
  text-align: center;
  bottom: 250px;
  width: 100%;
}

h1 {
	color: #dd820b;
	font-size: 70px;
	line-height: 100px;
	padding: 20px 10px;
	text-align: center;
}

h2 {
	color: #FFFF;
	font-size: 42px;
	font-weight: 300;
	text-align: center;
}

h3 {
	
  color: Teal;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: #ffff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.btn {
	border-radius:12px;
	border: 2px solid #dd820b;
	color: #FFF;
	font-family: 'Amatic SC', cursive;
	font-size: 26px;
	padding: 14px;
}

.teams {
	top: 250px;
	margin: 5px auto;
	padding: 30px 30px;
	text-align: center;
	position: relative;
}

.team {
  display: inline-block;
  margin: 20px 3% 20px 3%; 
  text-align: center;
  width: 40%;
  box-sizing: border-box;
  padding: 10px 10px;
  height: 300px;
  position: relative;
}

img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
	display: inline-table;
	position: center;
}

.network img {
	width: 20%;
	height: 20%;
	display: inline-block;
	padding: 0px;
}

.network img:hover {
	transform: rotate(90deg) scale(2);
	cursor: pointer;
}